@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Quantico:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    font-family: 'Quantico', sans-serif;
}

:root {
    --text--color: #000000;
    --main-color: #83b735;
}

section {
    padding: 3.2rem 10%;
}

header {
    position: sticky;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 6.3rem;
    background-color: aliceblue;
}

.logo {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text--color);
}

.logo span {
    color: var(--main-color);
}

.navbar {
    position: relative;
    display: flex;

}

.navbar a {
    font-size: 1rem;
    padding: 0.9rem 1.1rem;
    font-weight: 500;
    color: var(--text--color)
}

.navbar a:hover {
    color: var(--main-color);
}

.home {
    width: 100%;
    min-height: 100vh;
    background-image: url(Img/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    display: flex;
    align-items: center;
}

.home-text h1 {
    font-size: 2.7rem;
}

.home-text h1 span {
    color: var(--main-color);
}

.home-text p {
    font-size: 0.938rem;
    margin: 0.4rem 0 1.8rem;
}

.btn {
    padding: 0.9rem 1rem;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 0.3rem;
    font-size: 14px;
}

.btn:hover {
    background: #8fc53d;
}
.heading {
    text-align: center;
}

.heading h2 {
    color: #8fc53d;
}
.shop-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
    gap: 4rem;
    margin-top: 2rem;
}
.box {
    position: relative;
    box-shadow: 1px 4px 4px rgb(0,0,0,0.1);
    border-radius: 44px 4px 4px 4px;
}
.box .box-img{
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 44px 4px 0 0;
}
.box .box-img img{
    width: 100%;
    height:100%;
    object-fit: cover;
    object-position: center;
}
.box .box-img img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.title-price {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.title-price h3 {
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase; 
    
}
.box span {
    font-size: 1.1rem;
    font-weight: 500;
    padding-left: 1rem;
    color: var(--main-color);
}

.stars .fa-star {
    color: var(--main-color);
    
}

.title-price .fa-shopping-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5rem;
    font-size: 20px;
    color: #fff;
    border-radius: 4px 0 4px 0;
    background-color: var(--main-color);
}

.box .fa-shopping-cart:hover {
    color: #8fc53d;
}
.new-container{  
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
    gap: 1rem;
    margin-top: 2rem;  
}
 .n-box{
    position: relative;
    box-shadow: 1px 4px 4px rgb(0,0,0,0.1);
    border-radius: 4px;
 }
 .n-box span {
    font-size: 1.1rem;
    font-weight: 500;
    padding-left: 1rem;
    color: var(--main-color);
}
 .n-box .fa-shopping-cart:hover {
    color: #8fc53d;
    }
.n-box .new-img{
    width:100%;
    height: 400px;
    overflow: hidden;
    border-radius: 44px 4px 4px 4px ;
}
.n-box .new-img img{
    width: 100%;
    height:100%;
    object-fit: cover;
    object-position: center;
}
.new-container .n-box .new-img img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:1rem
}
.about-img img{
    width: 80%;
    border-radius: 10px;
    object-fit: contain;
}
.about-text span{
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--main-color);
}
.about-text p{
    font-size: 0.938rem;
    margin: 0.5rem 0 1.4rem;
}
.brands-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,auto));
    align-items: center;
    justify-content: space-between;
    gap:1rem;
    margin-top: 2rem;
}
.brands-container img{
    width: 100px;      
}
.brands-container img:hover{
    transform: scale(1.5);
    transition: 0.5s;
}
body {
    padding: 0px 0px;
}

.formdesign {
    font-size: 20px;

}

.formdesign input {
    width: 50%;
    padding: 12px 20px;
    border: 1px solid blue;
    margin: 14px;
    border-radius: 4px;
    font-size: 15px;
}

.formerror {
    color: red;
}

.but {
    border-radius: 9px;
    width: 100px;
    height: 50px;
    font-size: 25px;
    margin: 22px 20px;
}

.news-letter{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:url(img/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.news-letter h2{
    color: #fff;
}
.news-box{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    text-align: center;
    background: var(--main-color);
    color: var(--text--color);
}
.news-box input{
    width: 260px;
    height: 44px;
    border: none;
    outline: none;
    background: #fff;
    padding: 10px;
}
.news-box .btn{
    height: 44px;
    padding:11px;
    border-radius: 0;
    font-weight: 500;
    text-transform: uppercase;
}
.footer{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,auto));
    gap: 1rem;
}
.footer-box h2{
    font-size:30px;
    font-weight: 600;
    margin-bottom: 10px;
}
.footer-box span{
    color: var(--main-color);
}
.footer-box p{
    font-size: 0.900rem;
    margin-bottom: 10px;
}
.socail{
    display: flex;
    align-items: center;
}
.social a{
    font-size: 24px;
    margin-right: 18px;
    color: var(--text--color);
}
.social a:hover{
    color: var(--main-color);
}
.footer-box h3{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}
.footer-box li a{
    color: var(--text--color);
}

.footer-box li a:hover{
    color: var(--main-color);
}
.contact-info{
    display: flex;
    flex-direction: column;
}
.contact-info h3{
    font-size: 30px;
    font-weight: 300;

}
.contact-info span{
    color: var(--main-color);
}
 .share{
    padding:1rem 0;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

 .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    background:var(--main-color);
    margin:0 .3rem;
    border-radius: 50%; 
}

 .share a:hover{
    background:var(--text--color);
}

 .credit{
    border-top: var(--border);
    margin-top: 0rem;
    padding:0 1rem;
    padding-top: 0.5rem;
    font-size: 2rem;
    color:var(--light-color);
    text-align: center;
}

 .credit span{
    color:var(--main-color);

}
@media(max-width:881px){
    header{
        padding: 18px 4%;
    }
    section{
        padding: 50px 4%;
    }
}
@media(max-width:991px){
    .home-text h1{
        font-size: 2rem;
    }
    .shop-container,.new-container{
        grid-template-columns: repeat(auto-fit,minmax(218px,auto));
    }
}
@media(max-width:768px){
    headder{
        padding: 11px 4%;
    }
    .header .navbar{
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        flex-direction: column;
        background: #fff;
        box-shadow: 0 4px 4px rgb(0 0 0/10%);
        transition: 0.2s ease;
        text-align: center;
    }
    .navbar a{
        padding: 1.5rem;
        display: block;
    }
    .navbar .active{
        top: 100%;
    }
    .navbar a:hover{
        color: #fff;
        background-color: var(--main-color);
    }
    .about{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .about-img{
        padding-top: 1rem;
        order: 2;
    }
}
@media(max-width:491px){
    .home-text h1{
        font-size: 1.7rem;
    }
    .shop-container,.new-container{
        grid-template-columns: repeat(auto-fit,minmax(200px,auto));
    }
    .box .box-img{
        height: 300px;
    }
    .news-box input{
        width: 180px;
    }
    .about-text h2{
        font-size: 1.2rem;
    }
}